/* set ukuran kertas */
@page {
   size: 76mm 130mm !important;
   margin: 0px !important;
}
body {
    margin: 1px !important;
    padding: 0px !important;
}

.circle {
    border: 2px solid #f00;
}
.brother-div {
    font-size: 11pt !important;
    line-height: initial !important;
    font-weight: bold !important;
}

td.v_sku, td.qty.text_ct {
    font-size: 11pt !important;
}
td.v_sku.fw_600, td.qty.text_ct.fw_600 {
    display: none;
}
.sku_info .v_sku, .sku_info .v_name {
    width: auto !important;
}
.cn-html-body {
    height: 112mm !important;
}
